@import "tailwindcss";

@theme {
  --color-background: #0a0a0f;
  --color-surface: #12121a;
  --color-primary: #6366f1;
  --color-accent: #22d3ee;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: white;
  -webkit-font-smoothing: antialiased;
}